*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}

header{
    border-top:1rem solid #FFFFEF;
}
header a{
    font-size: 1.2rem;
    margin-right: 1.5rem;
}

header a:last-child{
    margin-right: 0;
}

header a:hover{
    color: #d1d3b8;
}

.header-icons img{
    width: 32px;
    height: 32px;
}

/*SECTION1*/

.section-1{
    min-height: 600px;
    background: url(img/section-1-background.jpg) left no-repeat;
    border: 1rem solid #FFFFEF;
    background-size: cover;
}

.section-1 .col {
    padding: 1rem 2rem;
}

.bg-vanilla {
    background-color: rgba(255, 255, 238, .5);
}


.section-1 div h3{
    font-size: 3rem;
    color: #56593D;
}
.section-1 div a{
    color: #56593D;
    text-decoration: none;
    font-size: 1.2rem;
}

.section-1 div a:hover{
   color: #d1d3b8;
}

.section-1 div button{
    width: 150px;
    height: 50px;
    margin-top: 1rem;
    background-color: #56593D;
    color: #fff;
    border: none;
}

.section-1 div button:hover{
    background-color: #d1d3b8;
}

/*SECTION2*/
.section-2 h2{
    font-size: 3rem;
    color: #56593D;
    margin: 3rem 0 3rem 0;
}

.section-2 .col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
}

.section-2 .arrow-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2 a{
    font-size: 1.5rem;
    color: #56593D;
}

.section-2 a:hover{
    color: #d1d3b8;
}

.section-2 img{
   width: 20px;
   height: 20px; 
}
/*SECTION3*/

.section-3{
    margin-top: 5rem;
    padding-bottom: 2rem;
    background-color: #FFFFEF;
}
.section-3 h2{
    font-size: 2rem;
    color: #56593D;
    margin: 5rem 0 5rem 0;
}

.section-3-card{
    margin-left: 3%;
}
.section-3 a{
    padding-top: 2rem;
    color: #56593D;
    text-decoration: none;
    font-size: 1.5rem;
}

.section-3 a:hover{
    color: #d1d3b8;
}

.section-3 p{
    padding-top: 2rem;
    color: #56593D;
    font-size: 1.5rem;
}

.section-3 p:last-child{
    padding-top: 0;
}

/*
.section-3 img{
    width: 350px;
    height: 400px;
}
*/

/*SECTION4*/

.section-4{
    height: 700px;
    margin-top: 5rem;
    background: url(img/bc-section-4.png) no-repeat;
    border:1rem solid #FFFFEF;
    color: #56593D;
}

.section-4 h3{
    margin: 1rem 0 3rem 0;
    font-size: 2rem;
}
.section-4 h2{
 font-size: 3.3rem;
}

/*SECTON5*/
.section-5{
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2%;
    color: #56593D;
    background-color: #FFFFEF;
}
.section-5 h3{
    font-size: 2.5rem;
}

.section-5 p{
    font-size: 1.3rem;
}

.section-5 h3,
.section-5 img{
 margin-bottom: 3rem;
}

/*SECTION6*/

.section-6{
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2%;
    color: #56593D;
    background-color: #FFFFEF;
}
.section-6 h3{
    font-size: 2.5rem;
}

.section-6 p{
    font-size: 1.3rem;
}

.section-6 h3,
.section-6 img{
 margin-bottom: 3rem;
}

/*SECTION-7*/
.section-7{
    margin-top: 5rem;
    padding: 3rem 0 3rem 0;
    color: #56593D;
    background-color: #FFFFEF;
}
.section-7 h2{
    font-size: 2.5rem;
    margin: 0rem 0 2rem 0;
}

.section-7 p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.section-7 button{
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: #56593D;
    color: #fff;
    border: none;
}

.section-7 button:hover{
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

/*SECTION8*/

.section-8{
    margin-top: 5rem;
    padding: 3rem 0 5rem 0;
    color: #56593D;
    background-color: #FFFFEF;
}

.section-8 h2{
    margin: 2rem 0 2rem 0;
}